.offer {
  display: grid;
  margin: 70px 0;
  grid-template-columns: 140px 1fr 140px;
  grid-template-rows: 64px 36px 217px;
}
.offer__head {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.offer__head1 {
  font-size: 48px;
  color: var(--text-black);
  font-family: Manrope Bold;
}
.offer__head2 {
  font-size: 18px;
  color: var(--heading-blue);
  font-family: Manrope Bold;
}
.offer__content {
  grid-column: 2/3;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  column-gap: 21px;
  height: max-content;
}
.offer__content > div:nth-child(2),
.offer__content > div:nth-child(3) {
  padding: 0 21px;
  border-left: 1px solid var(--border-gray);
}
.offer__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.offer__desc--title {
  font-size: 20px;
  color: var(--heading-blue);
  font-family: Manrope Bold;
}
.offer__desc--time {
  font-size: 14px;
  color: var(--text-black2);
  font-family: Manrope Medium;
  /* opacity: 60%; */
}
.offer__location {
  font-size: 16px;
  color: var(--text-black);
  font-family: Manrope Medium;
}
.offer__location2 {
  /* opacity: 60%; */
  color: var(--text-black2);
  font-size: 14px;
  margin-left: 21px;
}
.offer__deets {
  margin-top: 28px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.offer__deets--text {
  font-size: 16px;
  color: var(--text-black2);
  font-family: Manrope Medium;
  letter-spacing: 0px;
  text-align: left;
  /* opacity: 60%; */
  /* max-width: 310px; */
}
.offer__item {
  position: relative;
}
.offer__deets--arrow {
  color: var(--white-color);
  background: linear-gradient(90deg, #266efd 0%, #3876f1 100%) 0% 0% no-repeat;
  box-shadow: 0px 3px 17px var(--tertiary-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 43px;
  width: 46px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media only screen and (max-width: 1540px) {
  .offer__deets--text {
    max-width: 330px;
  }
}
@media only screen and (max-width: 1440px) {
  .offer__deets--text {
    max-width: 310px;
  }
}
@media only screen and (max-width: 1200px) {
  .offer__deets--text {
    max-width: 280px;
  }
}

@media only screen and (max-width: 820px) {
  .offer {
    grid-template-columns: 90px 1fr 90px;
    grid-template-rows: 48px 10px 1fr;
    margin: 30px 0;
  }
  .offer__head1 {
    font-size: 24px;
  }
  .offer__head2 {
    font-size: 18px;
  }
  .offer__content {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    row-gap: 21px;
  }
  .offer__content > div:nth-child(2),
  .offer__content > div:nth-child(3) {
    padding: 0;
    border-left: 0px;
  }
  .offer__desc--title {
    font-size: 18px;
  }
  .offer__desc--time {
    font-size: 14px;
  }
  .offer__location {
    font-size: 14px;
  }
  .offer__location2 {
    font-size: 14px;
    margin-left: 12px;
  }
  .offer__deets {
    margin-top: 14px;
  }
  .offer__deets--text {
    font-size: 16px;
    max-width: 380px;
  }
  .offer__deets--arrow {
    height: 42px;
    width: 44px;
  }
}

@media only screen and (max-width: 640px) {
  .offer {
    grid-template-columns: 30px 1fr 30px;
    grid-template-rows: 48px 10px 1fr;
    margin: 30px 0;
  }
  .offer__head1 {
    font-size: 16px;
  }
  .offer__head2 {
    font-size: 8px;
  }
  .offer__content {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    row-gap: 21px;
  }
  .offer__content > div:nth-child(2),
  .offer__content > div:nth-child(3) {
    padding: 0;
    border-left: 0px;
  }
  .offer__desc--title {
    font-size: 14px;
  }
  .offer__desc--time {
    font-size: 10px;
  }
  .offer__location {
    font-size: 10px;
  }
  .offer__location2 {
    font-size: 10px;
    margin-left: 12px;
  }
  .offer__deets {
    margin-top: 14px;
  }
  .offer__deets--text {
    font-size: 12px;
    max-width: 250px;
  }
  .offer__deets--arrow {
    height: 28px;
    width: 30px;
  }
}
